.cell {
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  height: 150px;
  width: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-left: auto;
  margin-right: auto;
  color: rgba($color: #a5a2a2, $alpha: 1);
  font-size: 24px;
}

.value {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 72px;
  color: rgba($color: #50ace9, $alpha: 1);
}

.subtitle {
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}

.subtitleValue {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: rgba($color: #88d587, $alpha: 1);
}

.comparedTo {
  margin-left: 5px;
  margin-right: 5px;
}
