.lineWrapper {
  /*background-color: darkslategrey;*/
  max-width: 1000px;
  width: 850px;
}

.pieWrapper {
  background-color: transparent;
  max-width: 1000px;
  width: 620px;
  margin-right: 15px;
}
