@import "styles/mixins";

.recommendationCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  //background-color:#3cafeb;
  //max-width: 900px;
  height: 100px;
border-radius: 16px;
  flex: 1;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;


}

.recommendationCard:hover{
    background-color: #3cafeb;
}


.bookmark {
    display: flex;
    //background-color: #3cafeb;
    //border: 2px solid #3cafeb;
   // height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 10%;
    margin-top: 50px;

    margin-right: 10px;

}


.bookmarkIcon {
    display: flex;
    //margin: auto;
    //background-color: violet;
    transform: scale(1.8);
    border: 2px solid #3cafeb;
    height: 36px;
    border-radius: 8px;
}



.content {
    //background-color: purple;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


.title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
    text-align: left;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 7px;
    margin-left: -15px;
    display: flex;
      flex-direction: row;
    max-width: 900px;
    width: 100%;
  }

  .dateHolder {
    text-align: start;
    font-size: 18px;
    font-weight: bolder;
    min-width: 5rem;
    font-weight: 500;
  }

  .timeStamp{
    //background-color: darkgreen;
    font-size: 14px;
    font-weight: 200;
    text-align: left;

    padding-bottom: 10px;
    //border-bottom: 0.1px solid $text-color;
  }


  .recommendationsRow {
    display: inline-block;
      flex-direction: row;
      margin-right: 5px;
     // background-color: purple;
      max-lines: 1;
      max-height: 50px ;
  }
