.content {
  width: 100%;
  max-width: 1200px;

  background-color: rgb(243, 243, 243);
  padding: 40px;
  display: grid;
  grid-template-columns: 4fr 8fr 0fr;
  margin-top: -200px;
}

.mainBackground {
  background-color: rgb(243, 243, 243);
}

.mainHeader {
  width: 100%;
  max-width: 1200px;
  margin-top: -80px;
  background-color: transparent;
  padding: 40px;
  padding-top: 0px;
  display: grid;
  grid-template-columns: 6fr 9fr 3fr;
}

.mainHeaderScroll {
  width: 100%;
  max-width: 1200px;

  background-color: transparent;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

/*Skeleton */

.section-title {
  margin-top: 0px;
}

.skeletonback {
  margin: 0px;
  margin-top: -30px;
  border-radius: 16px;
  background-color: white;
  max-height: 206px;
  -webkit-box-shadow: 10px 26px 42px -20px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 10px 26px 42px -20px rgba(0, 0, 0, 0.56);
  box-shadow: 10px 26px 42px -20px rgba(0, 0, 0, 0.56);
  padding-bottom: 30px;
  max-width: 752px;
  z-index: 900;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-bottom: 30px;
  margin-left: 45px;
  margin-top: 10px;
}

skeletonitem {
  background-color: white;
}
.card {
  width: calc(33% - 20px);

  margin-bottom: 60px;

  padding: 10px;
}
.card-link {
  color: inherit;
  text-decoration: none;
}
.card-image {
  width: 100%;
}
.channel-image {
  border-radius: 100%;
  padding: 0, 10px, 0, 0;
  width: 40px;
  height: 40px;
}
.card-title {
  margin-top: 10px;
  margin-bottom: 0;
}
.card-channel {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.loginsignup {
  margin-top: 0px;
}

.searchBack {
  background-color: royalblue;
  color: aqua;
}

.searchheader {
}

.searchheaderscrolled {
}

.mainlogo {
  margin-top: 0px;
  height: 50px;
  margin-right: 0px;
  margin-left: 20px;
  padding-bottom: -150px;
  padding-top: -50px;

  transition: background-position 275ms ease;

  @media (min-width: 1449px) {
    height: 45px;
    width: 167px;
  }
}

.mainlogoScrolled {
  margin-top: 0px;
  height: 50px;
  margin-right: 0px;
  margin-left: 20px;

  @media (min-width: 1449px) {
    height: 45px;
    width: 167px;
  }
}

.navbarTop {
  display: flex;
  margin: 0px;
  height: 30px;
  padding: 18px 54px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  transition: background ease-in-out 0.1s;

  @media (max-width: 1000px) {
    margin: 0 30px;
  }
}

.navbarTopScrolled {
  display: flex;
  margin: 0px;
  height: 30px;
  padding: 18px 54px;
  justify-content: space-between;
  align-items: center;
  animation: mymove 0.3s;
  background-color: rgba(0, 0, 0, 1);

  @media (max-width: 1000px) {
    margin: 0 30px;
  }
}

.navbarTop2 {
  display: flex;
  margin: 0px;
  height: 64px;
  padding: 18px 54px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);

  @media (max-width: 1000px) {
    margin: 0 30px;
  }
}

@keyframes mymove {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 1);
  }
}

.mainBackgroundLoginSignup {
  background-color: rgb(243, 243, 243);
  padding-bottom: 20px;
}

.logcontent {
  margin-top: 0px;
}
