@import 'styles/mixins';

.content {
    display: flex;
}

.container {

    height: 400px;
    padding: 8px 8px 50px 8px;
    max-height: 40vh;
    @include xs-to-sm {
        padding: 0;
        max-height: unset;
    }
}


.valueHolder{
    margin-top: 5px;
    margin-left: 35px;
}