@import "styles/mixins";

.recommendationCard {
  width: 100%;
  height: 400px;
  background-image: url("../../../assets/images/mountains3.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  background-color: #161b22;
  color: #fefefe;

  @include xs-to-md {
    height: 300px;
    background-size: 500px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.container {
  align-self: flex-end;
  justify-content: center;
  margin: 16px;
  width: 100%;
  max-width: 500px;
  @include xl {
    width: 750px;
  }
  @include xs-to-md {
    width: 100%;
  }
}
