@import "styles/mixins";

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #161b22;
  color: #fefefe;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  //background-color: coral;
  height: 100%;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
}

.navbar {
  z-index: 999;
  backdrop-filter: blur(100px);
  height: 58px;
  width: 100%;
  position: fixed;
  background: $navbar-color;
  display: flex;
  top: 0;
  left: 0;
  //border-bottom: 1px solid $navbar-color-border;
  justify-content: space-between;
  background-color: #161b22;
}

.logo {
  //background-color: deeppink;
  margin-left: 20px;
  width: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;
}

.logoIcon {
  width: 50px;
  height: 50px;
  //background-color: deepskyblue;
  //background-image: url("https://ik.imagekit.io/7zlqc1cmihe/lastp4_MmOcmyp_zWi.png?updatedAt=1629746068742");
}

.logoText {
  //background-color: firebrick;
  margin-left: 10px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.login {
  //background-color: forestgreen;
  margin-right: 20px;
  //width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 50px;
  justify-content: flex-end;
}

.button {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border-radius: 16px;

  background-color: rgb(49, 149, 255);

  //font-weight: 500;
  font-size: 18px;
  transition: 0.6s ease;
  color: white;
}
.button:hover {
  box-shadow: 0px 2px 2px 5px rgba($color: #3cafeb, $alpha: 0.4),
    5px 5px 0px 0px rgba($color: #5e5ce6, $alpha: 0.4);
  transition: 0.6s ease;
}
.row1 {
  display: flex;
  flex-direction: column;
  //height: 300px;
  width: calc(100% - 100px);
  //background-color: cornflowerblue;
  margin-top: 100px;
  align-items: center;
  align-self: center;
  align-content: center;
  font-family: "Cera pro", "Trebuchet MS", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.row2 {
  display: flex;
  flex-direction: column;
  //height: 300px;
  width: calc(100% - 100px);
  //background-color: cornflowerblue;
  margin-top: 0px;
  align-items: center;
  align-self: center;
  align-content: center;
  font-family: "Cera pro", "Trebuchet MS", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.row1Title {
  //font-size: 37px;
  font-size: calc(3vw + 26px);
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row1Subtitle {
  //margin-top: 50px;
  font-size: 20px;
  color: rgb(160, 170, 186);
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  //background-color: fuchsia;
  max-width: 600px;
}

.actionButton {
  //padding: 10px 20px;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  //width: 120px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 50px;
  height: 50px;
  z-index: 800;

  background-color: rgb(49, 149, 255);

  font-weight: 500;
  //transition: 0.6s color2;
  margin-top: 30px;

  animation: pulse 2s infinite;
  color: white;
}
//0px 2px 2px 5px rgba($color: #3cafeb, $alpha: 0.4),
//5px 5px 0px 0px rgba($color: #5e5ce6, $alpha: 0.4)
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($color: #3cafeb, $alpha: 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba($color: #3cafeb, $alpha: 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($color: #3cafeb, $alpha: 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($color: #3cafeb, $alpha: 0.4);
    box-shadow: 0 0 0 0 rgba($color: #3cafeb, $alpha: 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba($color: #3cafeb, $alpha: 0);
    box-shadow: 0 0 0 30px rgba($color: #3cafeb, $alpha: 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($color: #3cafeb, $alpha: 0);
    box-shadow: 0 0 0 0 rgba($color: #3cafeb, $alpha: 0);
  }
}

.videoContainer {
  //background-color: goldenrod;
  margin-top: 100px;
  width: 100%;
  height: 40vh;
  display: flex;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 100px;
  object-fit: cover;
}

.videoHolder {
  width: 100%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 250px;
  height: 500px;
  object-fit: cover;
  // transform: translate(-50%, -50%);
  //z-index: -999;
}

.recoDemo {
  // background-color: fuchsia;
  display: flex;
  margin-top: -50px;
  //margin-left: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  //width: 95%;
}

.featuresHolder {
  display: flex;
  flex-wrap: wrap;
  //background-color: goldenrod;
  width: 100%;
}

.featuresHolder > div {
  flex: 1 0 34%;
  // background-color: goldenrod;
}

@media (max-width: 600px) {
  .featuresHolder > div {
    flex-basis: 51%;
    //background-color: goldenrod;
  }
}

.featureText {
  //background-color: greenyellow;
  width: 50%;
  //height: 300px;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.featureTitle {
  font-size: 34px;
  //color: rgb(160, 170, 186);
  font-weight: 400;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  // background-color: fuchsia;
  //smax-width: 600px;
}

.featureSubtitle {
  font-size: 20px;
  color: rgb(160, 170, 186);
  font-weight: 400;
  text-align: left;
  //padding: 30px;
  padding-left: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  //background-color: fuchsia;
  max-width: 300px;
}
.featureImage {
  //background-color: indianred;
  width: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slideHolder {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  // background-color: khaki;
}

.slideHolder::-webkit-scrollbar {
  display: none;
}

.slideElement {
  //object-fit: contain;
  //background-color: saddlebrown;
  width: 80px;
  height: 80px;
  border-radius: 16px;
  padding: 4px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  text-align: center;
  :hover {
    color: #3cafeb;
  }
  margin-bottom: -10px;
}

.slideElement2 {
  //object-fit: contain;
  //background-color: saddlebrown;
  //width: 300px;
  margin-right: 20px;
}
.slideText {
  //object-fit: contain;
  //background-color: aquamarine;

  padding: 4px;
  margin-left: auto;
  display: flex;
  margin: 10px;
  z-index: 1;
  text-align: center;
  justify-self: center;
  justify-content: center;
  text-justify: distribute;
  color: #ffffff;
  text-shadow: 0px 4px 4px #000000;
  font-size: 14px;
  :hover {
    color: #3cafeb;
    text-decoration-color: #3cafeb;
  }
}

.arrowLeft {
  //background-color: cornflowerblue;
  margin-top: 60px;
  margin-bottom: -60px;
  position: relative;
  z-index: 3;
  width: 30px;
  //position: fixed;
  //top: 0;
  // left: 0;
  color: white;
}

.arrowRight {
  //background-color: rebeccapurple;
  margin-top: 60px;
  margin-bottom: -60px;
  position: relative;
  z-index: 3;
  width: 30px;
  //position: fixed;
  //top: 0;
  // left: 0;
  color: white;
}
.arrowLeft2 {
  //background-color: cornflowerblue;
  margin-top: 230px;
  margin-bottom: -230px;
  position: relative;
  z-index: 3;
  width: 30px;
  //position: fixed;
  //top: 0;
  // left: 0;
  color: white;
}

.arrowRight2 {
  //background-color: rebeccapurple;
  margin-top: 230px;
  margin-bottom: -230px;
  position: relative;
  z-index: 3;
  width: 30px;
  //position: fixed;
  //top: 0;
  // left: 0;
  color: white;
}

.arrowHolder {
  //background-color: rosybrown;
  display: flex;
  justify-content: space-between;
}

.calendar {
  padding-left: 20px;
  padding-left: 10px;
}
