@import 'styles/mixins';

.header {
  display: flex;
  margin: 0 32px;
  height: 100%;
}

.search {
  align-self: center;
  width: 100%;
}

.results {
  @include xs-to-md {
    justify-content: space-between;
  }
}


