@import "styles/mixins";

.listItem {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}

.listItemSelected {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: $highlight-bg-color;
  border-radius: 16px;
  margin: 10px;
}

.itemName {
  font-size: 16px;
  margin: 8px;
}

.addButton {
  background-color: transparent;
  color: $primary-color;
  border-radius: 16px;
  width: 70px;
  height: 28px;
  border: 1px solid $primary-color;
  margin: 8px;
}

.removeButton {
  background-color: $primary-color;
  color: $white;
  border-radius: 16px;
  width: 70px;
  height: 28px;
  border: 1px solid $primary-color;
  margin: 8px;
}
