.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: center;

  // background-color: red;
  height: 100px;
  width: 100%;
}

.checkbox {
  // background-color: cadetblue;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  // margin: auto;
}

.dateContent {
  //background-color: cornflowerblue;
  //margin-top: auto;
  //margin-bottom: auto;
  //display: flex;
  //justify-content: flex-start;
}

.dateTitle {
  //background-color: coral;
  font-size: 20px;
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
}

.dateInfo {
  display: flex;
  justify-content: flex-start;
  //background-color: darkgoldenrod;
}

.editLabel {
  //background-color: darkkhaki;
  margin-top: auto;
  margin-bottom: auto;
}
