@import "../../../styles/mixins";

.wrapper {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  //background-color: green;
  //height: 200px;
}

.signup {
  margin-top: 15px;
  margin-bottom: 20px;
  height: 35px;
  background-color: #1697dc;
  color: #ffffff;
  border-radius: 16px;
  width: 120px;
  padding: 10px;
}
