@import "styles/mixins";

.wrapper {
  background-color: $navbar-color;
  color: $text-color;
  width: 100%;
  border-radius: 16px;
  height: 45px;
  border: 1px solid $light-primary-color;
  padding: 0.5rem;
  font-size: 18px;
}
