@import '../../../styles/mixins';

.layout {
  background: #f3f3f3;
  min-height: 100vh;
}

.flexBox {
  display: flex;
  flex-direction: row;
}

.tabBar {
  background: #242b2e;
  height: 80px;
}

.tabBarLogo {
  margin-top: 20px;
  margin-left: 160px;
  width: 200px;
  height: 40px;
  background: url('../../../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  @include xs-to-md {
    display: none;
  }
}

.tabBarText {
  margin-left: 280px;
  margin-top: -60px;
  width: 200px;
  height: 200px;
  background: url('../../../assets/images/text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  @include xs-to-md {
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include xs-to-md {
    //margin-top: 150px;
  }
}

.sidebar {
  padding: 48px 24px;
  width: 300px;
  overflow-y: scroll;
  max-height: 90vh;
  position: sticky;
  top: 80px;
  // TODO: add custom scrollbar for all browsers
  scrollbar-color: rgba(0, 0, 0, 0.25);

  @include xs-to-md {
    display: none;
  }
}

.content {
  margin: 24px;
  width: 600px;
  @include xl {
    width: 810px;
  }
  @include xs-to-md {
    width: 100%;
  }
  &.shrink {
    margin-top: 420px;
    @include xs-to-md {
      margin-top: 170px;
    }
  }
}

.holder {
  //background-color: greenyellow;
}

.themeHolder {
  //background-color: hotpink;
  width: 100px;
  margin-left: auto;
  margin-right: 100px;
}

.headerHolder {
  //background-color: darkcyan;
}
