@mixin dark-theme {
  --hamburger: url("https://ik.imagekit.io/7zlqc1cmihe/navigatedark_lR9JW691R.svg?updatedAt=1631366480088");
  --logo: url("https://ik.imagekit.io/7zlqc1cmihe/logodarktheme_esK0DDnE1YOB.png?updatedAt=1631278512058");
  --filter: url("https://ik.imagekit.io/7zlqc1cmihe/Vector_XtA12anpI.svg?updatedAt=1631228520690");
  --saved: url("https://ik.imagekit.io/7zlqc1cmihe/Group-3_S3MyC8M6x.svg?updatedAt=1631228520711");
  --circle: url("https://ik.imagekit.io/7zlqc1cmihe/lightcircleedit_xMRSIRFl5.svg?updatedAt=1629315661340");
  --bell: url("https://ik.imagekit.io/7zlqc1cmihe/lightbelledit_nazmTUMRwk.svg?updatedAt=1629315661331");
  --backpack: url("https://ik.imagekit.io/7zlqc1cmihe/lightbackpack_7_ePEvmV6.svg?updatedAt=1629412156777");
  --calendar: url("https://ik.imagekit.io/7zlqc1cmihe/lightcalendaredit_WyMEb8aUo.svg?updatedAt=1629315661303");
  --calendar-white: url("https://ik.imagekit.io/7zlqc1cmihe/whitecalendar_H-aSRT9SjH6.svg?updatedAt=1631486504468");
  --plane-image: url("https://ik.imagekit.io/7zlqc1cmihe/f1_gUi3gVo9UM.svg?updatedAt=1629383611517");
  --heart-selected: url("https://ik.imagekit.io/7zlqc1cmihe/heartfilled2_Ov6xMyOPf.svg?updatedAt=1629582643214");
  --heart-not-selected: url("https://ik.imagekit.io/7zlqc1cmihe/heartempty_jXpJojhM0.svg?updatedAt=1629582643236");
  --card-bg-url: url("https://ik.imagekit.io/7zlqc1cmihe/bg_5Ynn94efqO.svg?updatedAt=1629555736815");
  --color-logo-text: #ffffff;
  --color-tabbar: #292934;
  --color-navbar: #161b22;
  --color-navbar-border: #161b22;
  --color-bg: #161b22;
  --color-card-bg: #25262c;
  --color-text: #fefefe;
  --color-sub-text: #e0e0e0;
  --color-active-text: #3cafeb;
  --color-text-inverted: #2e2e2e;
  --color-sub-text-inverted: #404040;
  --color-highlight-bg: #2c2c30;
  --color-border: #1f1f23;
  --color-border-alternative: #4f4f53;
  --color-primary: #3cafeb;
  --color-primary-light: #6495ce;
  --filter-navbar: blur(100px);
  --color-navbar-text: #ffffff;
  --shadow-text: 0px 4px 10px #5e5ce6;
  --active-month: #3cafeb;
  --inactive-month: #bdbdbd;
  --cell-highlighter: 0px 2px 2px 5px rgba($color: #3cafeb, $alpha: 0.4);
  --cell-bg-image: url("https://wallpaperaccess.com/full/1155023.jpg");
  --color-warning: #c04444;
}
