@mixin light-theme {
  --hamburger: url("https://ik.imagekit.io/7zlqc1cmihe/navigatelight_osrUek7cGCs.svg?updatedAt=1631366480076");
  --logo: url("https://ik.imagekit.io/7zlqc1cmihe/logolighttheme_CT4mhhWJkf.png?updatedAt=1631278418829");
  --filter: url("https://ik.imagekit.io/7zlqc1cmihe/Vector-1_nOHA36teX.svg?updatedAt=1631228520701");
  --saved: url("https://ik.imagekit.io/7zlqc1cmihe/Group-2_D0zCOL25i.svg?updatedAt=1631228520746");
  --circle: url("https://ik.imagekit.io/7zlqc1cmihe/circleedit_9_q8p7yt7b.svg?updatedAt=1629286595546");
  --bell: url("https://ik.imagekit.io/7zlqc1cmihe/belledit_bpnuI1-uGa.svg?updatedAt=1629286595477");
  --backpack: url("https://ik.imagekit.io/7zlqc1cmihe/backpack_WhntvpOxYc.svg?updatedAt=1629412156833");
  --calendar: url("https://ik.imagekit.io/7zlqc1cmihe/calendaredit_FkubfbVH4.svg?updatedAt=1629286595546");
  --calendar-white: url("https://ik.imagekit.io/7zlqc1cmihe/whitecalendar_H-aSRT9SjH6.svg?updatedAt=1631486504468");
  --plane-image: url("https://ik.imagekit.io/7zlqc1cmihe/darkplane_6qiv8c4PG.svg?updatedAt=1629578118558");
  --heart-selected: url("https://ik.imagekit.io/7zlqc1cmihe/heartv4_T4ahx34bT.svg?updatedAt=1629582861881");
  --heart-not-selected: url("https://ik.imagekit.io/7zlqc1cmihe/heartv2_2QKKmFKJv.svg?updatedAt=1629582782615");
  --card-bg-url: url("https://ik.imagekit.io/7zlqc1cmihe/lightestbg_dfEKSQu9CD.svg?updatedAt=1629668445797");
  --color-logo-text: #0e2c49;
  --color-navbar-border: #ecf3f5;
  --color-navbar: #eaeaea;
  --color-card-bg: #fcfcfc;
  --color-text: #2e2e2e;
  --color-sub-text: #404040;
  --color-active-text: #3cafeb;
  --color-text-inverted: #fefefe;
  --color-sub-text-inverted: #e0e0e0;
  --color-highlight-bg: #e0e0e0;
  --color-border: #e0e0e0;
  --color-border-alternative: #a0a0af;
  --color-primary: #18b2f8;
  --color-primary-light: #6495ce;
  --color-bg: #eaeaea;
  --filter-navbar: blur(100px);
  --color-navbar-text: #000000;
  --color-tabbar: #ffffff;
  --shadow-text: 0px 4px 10px #bdbdbd;
  --active-month: #556f75;
  --inactive-month: #bdbdbd;
  --cell-highlighter: 0px 2px 2px 5px rgba($color: #3cafeb, $alpha: 0.4);
  --cell-bg-image: url("https://wallpaperaccess.com/full/340618.png");
  --color-warning: #c04444;
}
