@import-normalize ;
@import "_global/fonts";
@import "mixins";

html,
body {
  text-rendering: geometricPrecision;
  margin: 0;
}

* {
  @include roboto-regular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // TODO: Change it with something non intrusive
  outline: none;
}

a {
  text-decoration: none;
  color: $active-text-color;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: none; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  color: $text-color;
}

.card {
  padding: 16px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

hr {
  color: #E0E0E0;
}

.glow-on-hover {
  background: rgba(60, 60, 60, 1);
  height: fit-content;
  color: rgba(234, 234, 234, 1);
  font-size: 15px;
  border-radius: 8px;
  padding: 8px 17px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;

  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    background: linear-gradient(
                    45deg,
                    #ff0000,
                    #ff7300,
                    #fffb00,
                    #48ff00,
                    #00ffd5,
                    #002bff,
                    #7a00ff,
                    #ff00c8,
                    #ff0000
    );
    position: absolute;
    top: 0;
    left: 0;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: transparent;

    &:after {
      background: transparent;
    }
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  &:hover:before {
    opacity: 1;
  }

}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
