@import "styles/mixins";
.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  background-color: $navbar-color;
}
.wrapperPrompt {
  display: flex;
  justify-content: center;

  width: 100%;
  background-color: $navbar-color;
  padding: 10px;
  margin-bottom: 20px;
}
