.TabBar {
  height: 520px;
  width: 100px;
  background-color: blueviolet;
}

.RecommendationsContent {
  height: 600px;
  width: 100px;
  background-color: #292934;
}

.wrapper {
  background-color: chartreuse;
}
