@import 'styles/mixins';

.wrapper {
  background-color: transparent;
  width: 350px;
  height: 50px;
  display: flex;

  margin: 50px;
}

.button {
  background-color: $primary-color;
  width: 350px;
  height: 50px;
  border-radius: 16px;
  color: $inverted-text-color;
}
