@import 'styles/mixins';

.expanded {
  width: 100%;

  @include md-to-xl {
    height: 130px;

  }
  outline: none;
   box-shadow: none;
   -webkit-tap-highlight-color: transparent;
   display: flex;
   flex-direction: row;
}

.navbarFixed {
  z-index: 3;
  height: 58px;
  
  width: 100%;
  outline: none;
   box-shadow: none;
   -webkit-tap-highlight-color: transparent;
   display: flex;
   flex-direction: row;
}

.navbarFixedIos {
  height: 58px;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  outline: none;
   box-shadow: none;
   -webkit-tap-highlight-color: transparent;
   display: flex;
   flex-direction: row;
}

.actions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 784px;
  padding: 4px 16px;
  flex: 1;
  @include md-to-lg {
    max-width: 650px;
  }
  outline: none;
   box-shadow: none;
   -webkit-tap-highlight-color: transparent;
}

.actionIcon {
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 8px;
  fill: white;
}

.editSearch {
  width: calc(100vw - 102px);
 
  max-width: 600px;
  max-height: 48px;
  background: $card-bg-color;
  border-radius: 10px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  transition: all 0.3s;
  transition-timing-function: ease-out;
  color: $sub-text-color;

  &.exp {
    width: 100%;
    max-height: 150px;
    height: fit-content;
  }
} 

.editSearchBlue {
  width: calc(100vw - 102px);
 //font-size: 24px;
  max-width: 600px;
  max-height: 48px;
  background: #3cafeb;
  border-radius: 10px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  transition: all 0.3s;
  transition-timing-function: ease-out;
  color: $sub-text-color;

  &.exp {
    width: 100%;
    max-height: 150px;
    height: fit-content;
  }
}

.editSearchBlueText{
  margin-left: 10px;
  color: white;
}

.tabIcon{
  color:white;
}

.editSearchTrackless {
  width: calc(100vw - 72px);
  @include xs-to-sm {
    width: calc(100vw - 16px);
  }
  max-width: 600px;
  max-height: 48px;
  background: $card-bg-color;
  border-radius: 10px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
 
  flex-wrap: nowrap;
  transition: all 0.3s;
  transition-timing-function: ease-out;
  color: $sub-text-color;

  &.exp {
    width: 100%;
    max-height: 150px;
    height: fit-content;
  }
}

.withBack {
  width: calc(100vw - 102px);
}

.searchIcon, .clearIcon {
  font-size: 24px;
  flex: 0 0 auto;
  margin-top: 8px;
  align-self: flex-start;
}

.clearIcon {
  &:hover {
    background: $highlight-bg-color;
    border-radius: 50%;
  }
}

.query {
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  &.exp {
    flex-wrap: wrap;
    .prefix {
      @include xs-to-sm {
        display: inline;
      }
    }
  }
  .prefix {
    @include xs-to-lg {
      display: none;
    }
  }
}

.bell {
  margin-top: 3px;
}

.fromLink {
  margin: 5px;
  padding: 16px;

  font-size: 18px;
  text-align: start;
  background: $primary-color;
  color: $text-color;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    font-size: 24px;
  }

  transition: height 0.3s;
  transition-timing-function: ease-out;
}

.expandedElements {
  margin-left: 12px;
  display: flex;
  z-index: 3;
  flex-direction: column;
  position: absolute;
  transition-timing-function: ease-in;
  @include md-to-xl {
    flex-direction: row;
  }

}

.expandedElementsHidden {
  margin-left: 12px;
  position: absolute;
  display: flex;
  transition-timing-function: ease-out;
  @include md-to-xl {
    flex-direction: row;
  }
}


.headerLogo{
  
  height: 100%;
 
  height: 50px;
  width: 150px;
 
  
  background-size: cover;
  background-image: $logo;
  @include xs-to-sm {
    display: none;
  }
}

.headerLink {
  @include xs-to-sm {
    display: none;
  }
}

.upperHeader{
  background-color: pink;
  display: none;
  @include xs-to-sm {
    display: block;
    display: none;
  }
}


.navigator {
  //background-color: pink;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
  @include xs-to-sm {
   
    display: none;
  }

}

.navigatorItem{
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  color: #3cafeb;
  padding-right: 15px;
  padding-left: 15px;
 // background-color: aquamarine;
}


.sideHolder{
  
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: space-around;
}


.text{
  color: white;
}