@import "styles/mixins";

.outerWrapper {
  padding-top: 550px;
  background-color: $bg-color;
}

.outerWrapperCentered {
  background-color: $bg-color;
  padding-top: 100px;
}
.wrapper {
  background-color: $bg-color;
  //background-color: cadetblue;
  padding-left: 30px;

  padding-bottom: 100px;

  //after there
  display: flex;
  flex-flow: row wrap;
  justify-items: center;

  &::after {
  }
}

.wrapperCentered {
  background-color: $bg-color;
  //background-color: cadetblue;

  padding-top: 50px;
  padding-bottom: 100px;

  //after there
  display: flex;
  flex-flow: row wrap;
  justify-items: center;

  &::after {
  }
}

.title {
  //padding-top: 900px;
  padding-left: 5vw;
  padding-top: 50px;
  font-size: calc(12px + 2vw);
  padding-bottom: 30px;
  background-color: $bg-color;
  //background-color: salmon;
  //background-color: yellowgreen;
}

.headerSubtitle {
  margin-top: 20px;
  //font-size: 20px;
  font-size: calc(12px + 1vw);
}

.wantMore {
  margin-top: 0px;
  width: 100%;
  //background-color: goldenrod;
  height: 300px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-content: center;
}

.wantMoreText {
  //background-color: green;
  display: flex;
  justify-content: center;
  font-size: calc(20px);
}

.wantMoreButton {
  display: flex;
  justify-content: center;
  //background-color: hotpink;
}

.signup2 {
  margin-top: 15px;

  height: 35px;
  background-color: #1697dc;
  color: #ffffff;
  border-radius: 16px;
  width: 120px;
  padding: 10px;
}
