@import "styles/mixins";
.wrapper {
  background-color: $bg-color;
  //background-color: cadetblue;

  padding-top: 100px;
  padding-bottom: 200px;

  //after there
  display: flex;
  flex-flow: row wrap;
  justify-items: center;

  &::after {
  }
}
