@import '../../../styles/mixins';

.layout {
  background: #f3f3f3;
  min-height: 100vh;
}

.flexBox {
  display: flex;
  flex-direction: row;
}

.tabBar {
  background: #242b2e;
  height: 80px;
}

.tabBarLogo {
  margin-top: 20px;
  margin-left: 160px;
  width: 200px;
  height: 40px;
  background: url('../../../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  @include xs-to-md {
    display: none;
  }
}

.tabBarText {
  margin-left: 280px;
  margin-top: -60px;
  width: 200px;
  height: 200px;
  background: url('../../../assets/images/text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  @include xs-to-md {
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include xs-to-md {
    //margin-top: 150px;
  }
}

.sidebar {
  padding: 48px 24px;
  width: 300px;
  overflow-y: scroll;
  max-height: 90vh;
  position: sticky;
  top: 80px;
  // TODO: add custom scrollbar for all browsers
  scrollbar-color: rgba(0, 0, 0, 0.25);

  @include xs-to-md {
    display: none;
  }
}

.content {
  margin: 24px;
  width: 600px;
  @include xl {
    width: 810px;
  }
  @include xs-to-md {
    width: 100%;
  }
  &.shrink {
    margin-top: 420px;
    @include xs-to-md {
      margin-top: 170px;
    }
  }
}

.holder {
  //background-color: greenyellow;
}

.themeHolder {
  //background-color: hotpink;
  width: 100px;
  margin-left: auto;
  margin-right: 100px;
}

.headerHolder {
  //background-color: darkcyan;
}

//Form styling

.motto {
  //background-color: yellowgreen;
  width: 500px;
}

.gradientText {
  @include roboto-medium;
  font-size: 48px;
  background-image: linear-gradient(45deg, #465557, #996945);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.loginBox {
  margin-top: -100px;
  margin-left: 50px;
  background-color: white;
  height: 421px;
  width: 342px;
  border-radius: 16px;
  filter: drop-shadow(0px 0px 5px #888888);
}

.heading {
  @include roboto-medium;
  font-size: 36px;
  align-self: flex-start;
  padding-left: 20px;
}

.button {
  margin-top: 24px;
  height: 47px;
  background-color: #3cafeb;
  width: 182px;
  margin-left: auto;
  margin-right: 20px;
}

.checkBox {
  margin-left: 20px;
}

.link {
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  @include roboto-light;
  //background-color: yellowgreen;
  color: $text-color;
  text-align: center;
  span {
    color: $active-text-color;
  }
}

.form {
  width: 100%;
}

.formElement {
  background-color: #eaeaea;
  width: 300px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  height: 47px;
  border-radius: 16px;
}
