@import 'styles/mixins';

.layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-position: 50% 95%;
  background-size: auto 170vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../../../assets/images/mountain.jpg'), linear-gradient(227.93deg, #ECD77E 10.92%, #F4AF50 33.47%);
  align-items: center;
  justify-content: flex-end;
  color: $text-color;
  @include md-to-xl {
    flex-direction: row-reverse;
    background: linear-gradient(183.97deg, #404066 36.38%, #3CAFEB 98.86%);
  }

}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 66px 48px 64px 48px;
  background-color: #ffffff;
  border-radius: 50% / 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;

  > * {
    margin-top: 30px;
  }

  @include md-to-xl {
    height: 100%;
    width: 450px;
    border-radius: 0;
    &::after {
      content: '';
      position: absolute;
      left: 450px;
      top: 0;
      width: 150px;
      height: 100%;
      background: url('../../../assets/images/right-wave-border.svg') top left;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}

.infoText {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 16px;
  @include md-to-xl {
    display: none;
  }
}
