@import '../styles/mixins';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 36px;
  background: linear-gradient(180deg, #3cafeb 0%, #6495ce 100%);
  border-radius: 16px;
  width: 100%;
  color: #ffffff;
}

.buttonText {
  @include roboto-light;
  font-size: 18px;
}
