@import 'styles/mixins';

.page {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  width: 100%;
  @include xs-to-sm {
    justify-content: center;
  }

}

.title {
  width: 100%;
  font-size: 28px;
  margin-top: auto;
  padding-left: 18px;
  margin-bottom: 0;
}

.noItems {
  width: 100%;
}

.segments {
  display: flex;
  height: 4800px;
  flex-direction: column;
  width: 100%;
}

.segment {
  display: block;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
}

.arrow {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 12px;
  padding: 4px;
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrowHolder {
  display: flex;
  margin-top: 0px;

  z-index: 2;

}


.notifications {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: hidden;
}

.notifications::-webkit-scrollbar {
  display: none;
}

.recommendations::-webkit-scrollbar {
  display: none;
}
