@import 'styles/mixins';

.page {
  @include custom-scroll;
  flex: 1;
  overflow-y: scroll;
  padding: 0 2px 48px 8px;
  width: 100%;
  @include xs-to-sm {
    justify-content: center;
  }
}

.queries {
  padding: 8px;
  width: 100%;
  h2 {
    margin: 8px;
  }
}

.query {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0 2px 0;
  background-color: $card-bg-color;
  border: 1px solid $border-color;
  border-radius: 8px;
  width: fit-content;
}

.queryLink {
  display: block;
  color: unset;
  margin: 8px 0;
}

// List Item Styles

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: $card-content;
  border-style: solid;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 15px;
  padding: 12px;
  height: unset !important;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
  font-size: 16px;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 16px 0 8px;
}

.image {
  width: 100%;
  height: 150px;
  margin-bottom: 8px;
  * {
    margin: 0;
    border-radius: 5px;
  }
}

.showDetails {
  margin-top: 16px;
  background-color: $primary-color;
  width: 100%;
  height: 38px;
  border-radius: 12px;
  outline: none;
  color: white;
}

