@import 'styles/mixins';

.page {
  @include custom-scroll;
  flex: 1;
  overflow-y: scroll;
  padding: 0 2px 48px 8px;
  width: 100%;
  @include xs-to-sm {
    justify-content: center;
  }

}

.queries {
  padding: 8px;
  width: 100%;
  h2 {
    margin: 8px;
  }
}

.query {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0 2px 0;
  background-color: $card-bg-color;
  border: 1px solid $border-color;
  border-radius: 8px;
  width: fit-content;
}

.queryLink {
  display: block;
  color: unset;
  margin: 8px 0;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

// List Item Styles

.wrapper{
  display: flex;
  flex-direction: column;
  background-color: $border-color;
  width: 312px;
  height: 338px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $card-content-browse;
  width: 306px;
  min-width: 306px;
  max-width: 306px;
  border-radius: 10px;
  height: 332px;

}

.lower {
  @extend .textShadow;
  margin-top: -204px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
  display: flex;
  flex-direction: column;
  height: 204px;
  width: 306px;
z-index: 999;
//background-color: deeppink;
border-radius: 10px;
justify-content: flex-end;
padding-bottom: 10px;
line-height: 30px;


}

.info {
  @include roboto-medium;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 10px;
} 

.infoDates{
  @include roboto-medium;
  display: flex;
  flex-direction: row;
  font-size: 16px;

  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 16px 0 8px;
  margin-bottom: 16px;
}

.image {
  width: 306px;
  height: 332px;
}

.showDetails {
  margin-top: 16px;
  background-color: $primary-color;
  width: 100%;
  height: 38px;
  border-radius: 12px;
  outline: none;
  color: white;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.link{
  display: flex;
  z-index: 999;
  flex-direction: column;
  
}


.browseCards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  //background-color: red;
}

.browseCards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
  @media(min-width: 84rem) {
    width: 20%;
  }
}

.browseCard {
  //background-color: white;
  border-radius: 16px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  @include xs-to-sm {
    min-width: calc(100vw - 50px);
  }
  border: 1px solid $border-color;
  
  
}

.browseCard__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  ;
  &::before {
    content: "";
	  display: block;
    padding-top: 100.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
  
 
}

.browseCard__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: end;
  justify-items: flex-end;
  
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  
  margin-top: -100px;


  z-index: 3;
  //background-color: aqua;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  @include xs-to-sm {
    margin-top: -300px;
padding-bottom: 200px;
background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
}

}

.browseCard_title {
  @include roboto-medium;
  //@extend .textShadow;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-size: min(max(20px, calc(40px - 3.5vw)),25px);
  font-weight: 400;
  color: white;
  //background-color: green;
  height: 100%;
  @include xs-to-sm {
   margin-top: 150px;
   margin-bottom: -150px;
}
 

}

.browseCard__text {
  flex: 1 1 auto;
  //font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;

}