@import 'styles/mixins';

.page {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  @include xs-to-sm {
    justify-content: center;
  }
}

.title {
  width: 100%;
  margin: 0;
}

.noItem {
  width: 100%;
}

.notifications {
  @include custom-scroll;
  display: flex;
  max-width: 386px; //584px
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 100%;
  flex: 1;
  @include xs-to-md {
    padding-bottom: 70px;
  }
}

.mapbox {
  background-color: $bg-color;
  flex: 1;
  display: flex;
  @include xs-to-md {
    display: none;
  }
}


.whiteText {
  color: white;
}
