// Colors
$text-color: var(--color-text);
$sub-text-color: var(--color-sub-text);
$bg-color: var(--color-bg);
$card-bg-color: var(--color-card-bg);
$active-text-color: var(--color-active-text);
$highlight-bg-color: var(--color-highlight-bg);
$border-color: var(--color-border);
$alternative-border-color: var(--color-border-alternative);
$light-text-color: #fefefe;
$inverted-text-color: var(--color-text-inverted);
$primary-color: var(--color-primary);
$light-primary-color: var(--color-primary-light);
$navbar-color: var(--color-navbar);
$navbar-text-color: var(--color-navbar-text);
$tabbar-color: var(--color-tabbar);
$navbar-filter: var(--filter-navbar);
$text-shadow: var(--shadow-text);
$active-month: var(--active-month);
$cell-highlighter: var(--cell-highlighter);

$white: #ffffff;

$sidebar-width: 300px;
$border-radius: 16px;
