@import 'styles/mixins';

.highlight {
  padding: 2px;
  flex: 1 1 50% 50%;
  @include xs-to-md {
    flex: 1 1 100%;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
