@import "styles/mixins";

.navbar {
  z-index: 2;
  background: $navbar-color;
  backdrop-filter: blur(100px);
  height: 78px;
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}
.navbarVertical {
  z-index: 2;
  background: $navbar-color;
  backdrop-filter: blur(100px);
  height: 100%;
  width: 150px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  margin: auto;
}

.container {
  //background-color: blueviolet;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  @include xs-to-md {
    padding: 0 0px;
  }
}

.containerVertical {
  //background-color: blueviolet;
  height: 100%;
  width: 100px;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 0 0px;
  margin: auto;

  @include xs-to-md {
    padding: 0 0px;
  }
}

.row1 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  //background-color: blueviolet;
}

.row1Vertical {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
  height: 100%;
  //background-color: blueviolet;
}
.row2 {
  margin-top: 0px;
  // background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.row2Vertical {
  margin-top: 0px;
  // background-color: salmon;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
  height: 100%;
}

.col1 {
  //background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  //margin: 20px;
}
.col1Vertical {
  //background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 20px;
}
.colImage {
  //background-color: cadetblue;
  width: 60px;
  height: 60px;
  border-radius: 13px;
}

.colText {
  //background-color: chartreuse;
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.col2 {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.attentionText {
  margin-top: 10px;
  margin-left: 10px;
  //background-color: lightcoral;
  width: 300px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menuButtonHolder {
  margin-top: 20px;
  //background-color: lightgreen;
}
.menuButtonHolderVertical {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  //background-color: lightgreen;
}
.menuButtonHolderVertical2 {
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  //background-color: lightgreen;
}

.menuButtonHolder2 {
  margin-top: -15px;
  //background-color: lightgreen;
}

.logo {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .icon {
    width: 40px;
    height: 40px;
    margin: 0 0px;
    background: url("../../../assets/images/p.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
  }

  .text {
    width: 200px;
    height: 36px;
    background: url("../../../assets/images/logo-text.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    @include xs-to-md {
      display: none;
    }
  }
}

.logoVertical {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .icon {
    width: 40px;
    height: 40px;
    margin: 0 0px;
    background: url("../../../assets/images/p.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
  }

  .text {
    width: 200px;
    height: 36px;
    background: url("../../../assets/images/logo-text.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    @include xs-to-md {
      display: none;
    }
  }
}

.logoVertical2 {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .icon {
    width: 40px;
    height: 40px;
    margin: 0 0px;
    background: url("../../../assets/images/p.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
  }

  .text {
    width: 200px;
    height: 36px;
    background: url("../../../assets/images/logo-text.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    @include xs-to-md {
      display: none;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include xs-to-md {
  }
}

.actionsVertical {
  display: flex;
  flex-direction: column;

  @include xs-to-md {
  }
}
.header {
}

.login {
  width: 90px;
  height: 30px;
}

.signupLogin {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}
.signupLoginVertical {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login {
  color: #ffffff;
  border-radius: 10px;
  background-color: transparent;
  height: 30px;
  width: 90px;
  position: relative;
  line-height: 30px;

  > span {
    display: inline-block;
  }

  &:hover {
    & > span {
      animation: shake 1s infinite;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.signup {
  margin-top: 15px;
  height: 35px;
  background: $navbar-color;
  border: 1px solid #3cafeb;
  border-radius: 16px;
  width: 150px;
  text-align: center;
  justify-content: center;
  line-height: 30px;

  &:hover {
    border: none;
    background-color: $navbar-color;
  }
}

.signup2 {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: -20px;
  height: 35px;
  background-color: #1697dc;
  color: #ffffff;
  border-radius: 16px;
  width: 120px;
  padding: 10px;
}

.profile {
  color: $navbar-text-color;
}

.sheet {
  background-color: $navbar-color;
  height: 100%;
}

.sheetrow1 {
  margin-top: -10px;
  height: 80px;
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between;
}

.sheetHeader {
  background-color: $navbar-color;
}

.sheetTitle {
  font-size: 24px;
  background-color: $navbar-color;
  text-align: center;
  //border-top: 2px solid $bg-color;
  padding-bottom: 10px;
  padding-top: 20px;
}

.onboardingText {
  font-size: 20px;
  background-color: $navbar-color;
  text-align: center;
  border-top: 2px solid $bg-color;
  padding-bottom: 10px;
  padding-top: 20px;
}

.closeSheet {
  background-color: $navbar-color;
  width: 50px;
  margin-left: 10px;
}

.closeIcon {
  background-color: $navbar-color;
  width: 40px;
  height: 40px;
}

.week {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 400;
}
.activeWeek {
  color: $active-month;
  font-size: 20px;
  text-shadow: $text-shadow;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.weekSelector {
  //background-color: burlywood;
  padding-left: 10px;
  margin-top: 5px;
  width: 290px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.monthSelector {
  //background-color: blue;
  width: 200px;
  margin-top: 15px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.month {
  padding-left: 10px;
  font-size: 25px;
  font-weight: 400;
  padding-right: 10px;
}
.activeMonth {
  color: $active-month;
  text-shadow: $text-shadow;
  font-size: 25px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.sheetTabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  font-size: 20px;
  //background-color: steelblue;
}

.activeSheetTab {
  color: $active-month;
  border-bottom: 2px solid $active-month;
  transition: 0s ease-in;
}

.recommendationsTitle {
  background-color: brown;
  width: 355px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
