.wrapper {
  margin-top: 20px;
}

.listItem {
  //background-color: saddlebrown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.itemName {
  //background-color: seagreen;
  font-size: 16px;
  margin: 8px;
}

.addButton {
  background-color: transparent;
  color: #1697dc;
  border-radius: 16px;
  width: 70px;
  height: 28px;
  border: 1px solid #1697dc;
  margin: 8px;
}

.removeButton {
  background-color: #1697dc;
  color: white;
  border-radius: 16px;
  width: 70px;
  height: 28px;
  border: 1px solid #1697dc;
  margin: 8px;
}
